@import url(https://fonts.googleapis.com/css?family=Roboto);

$padding: 8px;
$max-mobile-w: 640px;

// base classes
.container {
  border-radius: 20px;
  padding: $padding;
}

.dark-container {
  @extend .container;
  background-color: rgba(0, 0, 0, 0.6);
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

// ============
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #eaeaea;
}

section {
  margin: auto 1vw;
  > * {
    margin: 5px auto;
  }
  @media screen and (min-width: 1024px) {
    // side space on laptops
    width: 85%;
    margin: auto;
    font-size: 1.5vw;
  }
}

article {
  @extend .dark-container;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

footer {
  @extend .dark-container;
}

#scheduleTable {
  width: 100%;
  > thead {
    @media screen and (max-width: $max-mobile-w) {
      // hide timetable headers on mobile
      display: none;
    }
    > tr > th {
      @extend .container;
      text-align: center;
      color: #000000;
      background-color: #25aae1;
    }
  }
  > tbody > tr {
    &:hover {
      @media screen and (min-width: $max-mobile-w) {
        // row highlighting on wide screens
        background-color: rgba(30, 30, 30, 0.6);
      }
    }
    > td {
      @extend .dark-container;
      animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:first-child {
        // header
        color: #fb667a;
        text-align: center;
      }
      &:hover {
        // animated lesson cell
        background-color: #fff842;
        color: #403e10;
        box-shadow: #7f7c21 -3px 3px;
        transform: translate3d(3px, -3px, 0);
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: line;
      }
      @media screen and (max-width: $max-mobile-w) {
        // stack cells
        display: block;
        margin: 0 0 3px 0;
        padding: 0px;
        &:first-child {
          padding: $padding;
        }
      }
    }
  }
}

.lessonCell {
  width: 100%;
  > tbody {
    @media screen and (max-width: $max-mobile-w) {
      // lesson cell -> row on mobile
      display: flex;
      justify-content: space-evenly;
      > tr {
        display: inline;
      }
    }
    > tr {
      > td:first-child {
        text-align: center;
      }
    }
  }
}

.groupBtn {
  @extend .container;
  text-decoration: none;
  color: #000000;
  margin: 4px;
  border: none;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-position: 100% 0;
  }
}

// load animations
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
